[Unit]
Description=Telegram Bot Server hosted by @shichika

[Container]
Image=localhost/telegram-bot-api:latest
Pull=never
Exec=--local --temp-dir=/temp --dir=/data
PublishPort=8081:8081
Volume=/var/lib/telegram-bot-api/temp:/temp
Volume=/var/lib/telegram-bot-api/data:/data
EnvironmentFile=/etc/containers/homelab/telegram-bot-api.env

[Service]
Restart=always

[Install]
WantedBy=default.target

